# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# swagger directories
swagger

# test coverage
coverage

# dynamo_db init
scripts

# enviroments variables
.env